<% content_for :title do %>About<% end %>
<h3>About Foobar Kadigan</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec bibendum pharetra velit, in finibus justo malesuada sed. Aliquam ultricies est sodales lacinia laoreet. Integer sed est in eros rutrum sagittis et sed ligula. Duis et justo eget dui pellentesque imperdiet quis a lectus. Nulla eget neque accumsan, accumsan ex ac, tristique nisl. Maecenas sollicitudin viverra nulla, consectetur maximus velit scelerisque sit amet. Pellentesque nisi ipsum, suscipit ac est interdum, malesuada porta tellus. Curabitur ut eros lectus. Morbi venenatis felis a hendrerit maximus. Etiam a pharetra ligula. Integer gravida turpis eget felis maximus, id auctor risus dictum.
</p>
<p>His favorite quotation is:</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec bibendum pharetra velit, in finibus justo malesuada sed. Aliquam ultricies est sodales lacinia laoreet.</p>